@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
    --color1: hsl(30, 38%, 92%);
    --color2: hsl(158, 36%, 37%);
    --color3:hsl(212, 21%, 14%);
    --color4:hsl(228, 12%, 48%);
    --color5:hsl(0, 0%, 100%);
    --color6:hsl(158, 81%, 18%);
}
body{
    background:var(--color1);
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.left_container{
    width: 360px;
    height: 540px;
}
.left_container img{
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}
.left_container #img2{
    display: none;
}
.right_container{
    background: var(--color3);
    width: calc(360px - 80px);
    height: calc(540px - 100px);
    background: var(--color5);
    border-radius: 0px 15px 15px 0px;
    padding: 50px 40px;
}
.right_container h2{
color: var(--color4);
font-size: 0.75rem;
font-family: "Montserrat", serif;
font-weight: 500;
letter-spacing: 0.15rem;
}
.right_container h1{
    font-family: "Fraunces", serif;
}
.right_container p{
color: var(--color4);
font-family: "Montserrat", serif;
font-weight: 500;
font-size: 1rem;
line-height: 25px;
}
.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.price #reduc{
font-family: "Fraunces", serif;
color: var(--color2);
font-size: 1.5rem;
}
.price #promo{
font-family: "Fraunces", serif;
font-size: 0.8rem;
text-decoration: line-through;
}
.button{
display: flex;
justify-content: center;
align-items: center;
}
button{
    background: var(--color2);
    color: var(--color5);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    transition: 0.5s;
}
button:hover{
    cursor: pointer;
    background: var(--color6);
    transform: scale(1.1);
}

@media (max-width: 800px){
    main{
        flex-direction: column;
    } 
    .left_container{
        width: 90%;
        height: 45%;
    }
    .left_container img{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    .left_container #img1{
        display: none;
    }
    .left_container #img2{
        display: inline-flex;
    }
    .right_container{
        width: calc(90% - 50px);
        height: calc(45% - 20px);
        border-radius: 0px 0px 15px 15px;
        padding: 10px 25px;
    }

    .right_container h2{
        font-size: 1rem;
        letter-spacing: 0.15rem;
        /* text-align: center; */
        padding: 10px 0px 0px 0px;
        }
        .right_container h1{
        /* text-align: center;  */
        font-size: 2.25rem;
        }
        .right_container p{
        line-height: 25px;
        font-size: 1.20rem;
        text-align: justify;
        }
        .price{
            display: flex;
            justify-content: left;
            padding: 0px 0px 10px 0px;
        }
        .price #reduc{
        font-family: "Fraunces", serif;
        color: var(--color2);
        margin-right: 50px;
        }
        .price #promo{
        font-family: "Fraunces", serif;
        text-decoration: line-through;
        }
        .button{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px 0px;
        }
        button{
            width: 100%;
            height: 50px;
        }
}

@media (max-width: 550px){
    
    .left_container{
        width: 90%;
        height: 30%;
    }
    .right_container{
        width: calc(90% - 50px);
        height: calc(60% - 20px);
        border-radius: 0px 0px 15px 15px;
        padding: 10px 25px;
    }
    .right_container h2{
        font-size: 0.75rem;

        }
        .right_container h1{
        font-size: 1.75rem;
        }
        .right_container p{
        font-size: 0.75rem;
        line-height: 20px;
        }
        .button{
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 0px 0px;
            }
}
























/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', serif;
}
main{
    background: hsl(30, 38%, 92%);
    width: 75%;
    height: 85%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
height: 100%;
border-radius: 15px 0px 0px 15px;
}
.img2{
    overflow: hidden;
}
.card{
    display: flex;
    height: 445px;
    width: 595px;
    background: white;
    border-radius: 15px;
}
.text{
padding: 20px 25px 30px 25px;
}
h1{
font-family: 'Fraunces', serif;
font-size: 1.9rem;
}
p{
    font-size: 15px;
    color: rgba(73, 73, 73, 0.644);
}
h2{
    font-size: 15px;
    font-weight: 500;
    color: rgba(73, 73, 73, 0.644);
    letter-spacing: 2px;
}
button{
    width: 250px;
    height: 50px;
    background: hsl(158, 36%, 37%);
    border: 0px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    cursor: pointer;
}
button img{
    height: 40%;
    padding-right: 30px;
}
button:hover{
    background: hsl(128, 39%, 19%);
}
.priceContainer{
    display: flex;
    align-items: center;
}
#price{
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    padding-right: 30px;
    margin: 10px 0px 25px 0px;
}
#promo{
    font-size: 15px;
    text-decoration: line-through;
}

@media screen and (max-width: 850px){
    main{
        background: hsl(30, 38%, 92%);
        width: 100%;
        height: 100%;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        overflow: hidden;
        }
        .img2{
            overflow: visible;
        }
        img{
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            
        }
.card{
    display: flex;
    flex-direction: column;
        height: 90%;
        width: 90%;
        background: white;
        border-radius: 15px;
    }
    .text{
    text-align: center;
    }
    button img{
        height: 40%;
        width: 10%;
        padding-right: 30px;
    }
    button{
        width: 90%;
        height: 20%;
        background: hsl(158, 36%, 37%);
        border: 0px;
        border-radius: 8px;
        color: white;
        display: inline-block;
        font-size: 15px;
        font-family: 'Montserrat', serif;
        font-weight: 500;
        cursor: pointer;
    }
    .priceContainer{
        display: flex;
        justify-content: center;
    }
} */